@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        height: 440px;
        transition: all 0.7s ease-out;
        align-items: center;
        margin: auto;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    #search{
        width: 100%;
    }
    .burger{
        display:block;
    } 
    .h-nav{
        height:78px;
    }
    .v-class{
        opacity: 0;
    } 
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
    .paras{
        padding: 0px;
    }
    .contact{
        max-width: 50%;
        justify-content: center;
        align-items: center;
    }


    }